// =============== mobile nav styling =======================
.ic-mobile-menu {
    li {
        position: relative;
        padding: 8px;

        .menu-expand {
            position: absolute;
            right: 0;
        }

        .ic_sub_menu {
            padding-left: 10px;
            background: #ddd;
        }
    }
}

.ic-mobile-menu-open {
    display: none;
    background: darken($main-color, 15%);
    // @include border-radius(5px);
    padding-top: 3px;
    width: 40px;
    height: 40px;
    line-height: 34px;
    text-align: center;
    cursor: pointer;
    margin-top: 0;

    i {
        color: white;
        font-size: 22px;
        line-height: 22px;
    }

    @media #{$max1200} {
        display: block;
    }
}


.ic-mobile-menu-overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 5000;
    opacity: 0;
    visibility: hidden;
    background: #222222;
    top: 0;
    @include transition(0.4s);

    &.active {
        opacity: 0.5;
        visibility: visible;
    }
}


.ic-mobile-menu-wrapper {
    position: fixed;
    background: white;
    z-index: 5000;
    top: 0;
    height: 100%;
    @include transition(0.5s);
    left: 0;
    padding: 50px 15px 30px;
    overflow-y: auto;
    @include transform-x(-100%);
    min-width: 300px;


    &.active {
        @include transform-x(0);
        opacity: 1;
        visibility: visible;

    }
}



.ic-menu-close {
    position: absolute;
    top: 10px;
    right: 13px;

    a {
        display: block;
        padding: 0 5px;
        @include transition(0.3s);

        i {
            color: $black;
            font-size: 24px;
            line-height: 26px;
            @include transition(0.3s);
        }
    }

    &:hover {
        a {
            border: 2px solid rgba($main-color, 1);

            i {
                color: $main-color;
            }
        }
    }
}

.ic-bar {
    .bar-1 {
        width: 30px;
        height: 3px;
        border-radius: 3px;
        background: #000;
        margin: 0 auto;

        &:not(:last-child) {
            margin-bottom: 8px;
        }
    }
}

// .ic-mobile-menu-overlay {
//     position: fixed;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     background: rgba(0, 0, 0, 0.4);
//     z-index: 9;
// }