/* ===========================================
=================== banner part ==============
=============================================*/
.ic-banner-head {
    background: #F8F6FA;
    position: relative;

    .ic-banner-text {
        padding-top: 114px;
        padding-bottom: 114px;

        h1 {
            padding-bottom: 25px;
        }

        h4 {
            padding-bottom: 40px;
            font-weight: 300;

            @media (max-width: 575px) {
                font-size: 20px;
            }

            strong {
                font-weight: 600;
            }
        }
    }

    .ic-slider-items {
        &.slick-active {
            .ic-banner-text {
                -webkit-animation-duration: 1s;
                animation-duration: 1s;
                -webkit-animation-fill-mode: both;
                animation-fill-mode: both;
                animation-name: slideInLeft;
                animation-delay: 0.3s;
            }

            .ic-banner-img {
                -webkit-animation-duration: 1s;
                animation-duration: 1s;
                -webkit-animation-fill-mode: both;
                animation-fill-mode: both;
                animation-name: slideInRight;
                animation-delay: 0.3s;
            }
        }
    }

    .ic-banner-img {
        img {
            position: absolute;
            top: 0;
        }
    }

    .owl-carousel {
        .owl-item {
            img {
                display: block;
                width: auto;
            }
        }
    }

    // .owl-stage-outer {
    //     .owl-stage {
    //         .owl-item {
    //             &.active {
    //                 .ic-banner-text {
    //                     -webkit-animation-duration: 1s;
    //                     animation-duration: 1s;
    //                     -webkit-animation-fill-mode: both;
    //                     animation-fill-mode: both;
    //                     animation-name: slideInLeft;
    //                     animation-delay: 0.3s;
    //                     opacity: 1;
    //                 }
    //             }
    //         }
    //     }
    // }

    // .owl-nav {

}

@keyframes slideInLeft {
    0% {
        transform: translate3d(-400px, 0, 0);
        visibility: visible;
    }

    to {
        transform: translateZ(0);
    }
}

.slideInLeft {
    animation-name: slideInLeft;
}

@keyframes slideInRight {
    0% {
        transform: translate3d(400px, 0, 0);
        visibility: visible;
    }

    to {
        transform: translateZ(0);
    }
}

.slideInRight {
    animation-name: slideInRight;
}