.ms-susbcribe-head {
    background: #d0d0d0;

    .ms-subscribe-heading {
        h1 {
            color: #fff;
            font-weight: 900;
            padding-bottom: 20px;
        }

        p {
            font-size: 24px;
            font-weight: 600;
            color: #fff;

            @media (max-width: 767px) {
                font-size: 18px;
            }
        }
    }
}

.ms-form-group {
    .form-group {
        margin-bottom: 0;

        @media (max-width: 991px) {
            margin-bottom: 20px;
        }

        label {
            color: #fff;
            font-weight: 600;
        }
    }
}